---

---

<a id="logo" href="/" data-fathom="logo" transition:persist="logo">
  <svg
    viewBox="0 0 110 60"
    width="225px"
    fill="currentColor"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M16.159,1.194c1.317,4.564-.842,9.254-1.805,13.68-1.002,4.604-1.516,9.299-1.903,13.99-.793,9.619-1.631,19.349-.91,28.997.038.505,1.492.194,1.449-.388-.737-9.876.142-19.875.993-29.72.405-4.686.961-9.374,2.029-13.96.985-4.229,2.858-8.615,1.596-12.987-.154-.535-1.602-.143-1.449.388h0Z M12.364,29.911c8.278-2.931,9.795-12.636,11.416-20.128.15-.694,1.101-2.8-.095-2.789-1.187.011-1.982,1.301-2.498,2.194-1.153,1.995-1.701,4.494-2.062,6.748-.387,2.416-.477,4.873-.315,7.314.172,2.593.613,5.164,1.246,7.683.285,1.134.561,3.894,1.976,4.181,1.122.227,2.513-.428,3.497-.885,1.13-.525,2.334-1.155,3.185-2.086,1.066-1.167,1.368-2.36.868-3.858-.288-.863-.674-1.689-.96-2.553-.22-.666-.192-1.198-.914-1.387-1.114-.292-2.769.381-3.684.976-1.264.823-1.287,2.476-1.116,3.829.138,1.095.441,2.18.847,3.204.226.57.414,1.234,1.063,1.421,1.115.322,2.255-.6,2.873-1.407.844-1.103,1.64-2.544,1.988-3.898.183-.71.166-1.478.169-2.205,0-.252-.201-1.884.015-2.058l-1.339.298c1.443,1.132.808,3.988,2.855,4.621,1.499.464,2.477-.608,2.78-1.938.191-.842.238-1.767.601-2.561.251-.547.466-.55,1.042-.57.594-.021,1.175-.004,1.757-.161.379-.103.717-.266,1.056-.459.113-.064.701-.49.783-.456-.394-.162-.128.271-.143.373-.098.641-.122,2.069.498,2.467.528.339,1.466.092,2.005-.077.153-.048,1.004-.503,1.105-.451-.23-.12.006.543.005.516.032.49.088.964.087,1.46-.005,3.65-.832,7.224-1.996,10.666-.566,1.674-1.208,3.321-1.859,4.964-.588,1.484-1.092,3.04-1.878,4.433-.756,1.341-1.649,2.529-2.779,3.58-.7.651-1.782,1.789-2.835,1.333-1.354-.586-1.546-2.186-1.598-3.481-.107-2.676.674-5.026,1.492-7.544.921-2.836,2.502-5.757,5.131-7.334,2.547-1.527,5.64-1.959,8.421-2.893,2.087-.701,4.14-1.738,5.382-3.631s.951-3.833.01-5.811c-.771-1.619-1.954-2.891-3.835-2.194-2.751,1.02-2.559,3.894-1.353,6.064,1.132,2.036,3.103,3.844,5.587,3.035,1.014-.33,1.435-.898,1.734-1.893.424-1.411.862-2.817,1.295-4.225.937-3.045,2.034-6.118,2.67-9.244.396-1.947.289-3.94.18-5.91-.059-1.052-.126-2.105-.113-3.159.01-.783-.172-2.465.372-3.076l-1.339.298c.259.3.1,1.492.102,1.85.005.734.003,1.468-.005,2.202-.017,1.55-.061,3.1-.131,4.648-.135,3.016-.365,6.028-.672,9.032-.283,2.768-.782,5.535-.899,8.316-.025.607-.271,2.329.387,2.663.433.22,1.175-.091,1.503-.375.544-.472.783-1.354,1.023-2.001.413-1.111.752-2.248,1.119-3.375.673-2.065,1.442-4.181,2.902-5.834,1.558-1.764,3.813-2.641,5.532-4.214.671-.614,2.281-2.555.322-2.422-1.262.086-2.522.779-3.729,1.115-1.586.442-3.213.741-4.852.899-3.305.319-6.625.058-9.855-.693-.345-.08-1.609.476-1.187.574,3.706.861,7.523,1.085,11.303.626,1.813-.22,3.607-.593,5.356-1.119.324-.098,2.191-.982,2.438-.777.497.413-.916,1.716-1.11,1.894-1.27,1.163-2.855,1.924-4.205,2.987-1.248.983-2.207,2.2-2.93,3.612-.698,1.362-1.168,2.826-1.632,4.28-.253.79-.5,1.583-.78,2.364-.226.629-.461,1.758-1.021,2.169l1.151-.257c-.899-.151.031-5.778.115-6.446.326-2.589.601-5.185.814-7.787s.364-5.21.44-7.821c.038-1.304.057-2.609.057-3.914,0-.671.275-2.158-.19-2.696-.226-.261-1.152.088-1.339.298-.697.783-.513,2.857-.507,3.817.011,1.809.218,3.611.217,5.42-.003,3.001-.976,5.837-1.83,8.682-.812,2.707-1.583,5.444-2.483,8.123-.113.338-.205.818-.591.959-.535.196-1.477-.413-1.872-.697-1.183-.851-2.029-2.3-2.525-3.649-.273-.742-.42-1.485-.21-2.265.149-.553.598-1.651,1.272-1.66.891-.012,1.684,1.758,1.974,2.419,1.014,2.311,1.013,4.389-.812,6.297s-4.606,2.405-7.044,3.099c-2.423.69-5.026,1.49-6.988,3.133-2.054,1.72-3.381,4.229-4.198,6.744-.727,2.238-1.478,4.415-1.518,6.785-.025,1.478-.026,3.172,1.212,4.177.925.751,2.147.633,3.206.241,5.251-1.941,7.123-8.667,8.835-13.337,1.106-3.017,2.025-6.112,2.402-9.312.105-.891.169-1.786.188-2.683.013-.626.141-1.541-.14-2.133-.283-.597-.823-.573-1.413-.428-.815.2-1.858,1.12-2.084-.206-.103-.608.256-1.874-.44-2.203-.68-.321-1.851.438-2.382.747-1.025.597-2.269.157-3.383.587-1.834.706-1.426,2.992-2.039,4.503-.047.115-.138.424-.253.488.455-.252-.147-.338-.339-.527-.346-.34-.518-.896-.694-1.337-.343-.856-.577-2.226-1.342-2.826-.318-.249-1.075.085-1.339.298-.358.289-.153,1.411-.151,1.794.006,1.077.042,2.151-.341,3.171-.348.925-.799,1.833-1.326,2.668-.162.257-.653,1.204-.996,1.241.263-.029-.076-.251-.192-.436-.196-.315-.32-.715-.449-1.062-.458-1.235-.799-2.573-.81-3.897-.005-.621.045-1.323.368-1.873.37-.628,1.657-1.36,2.24-.728.35.379.502,1.579.702,2.094.181.465.38.924.538,1.398.458,1.372.256,2.479-.734,3.567-.669.735-1.578,1.227-2.461,1.658-.449.219-1.082.604-1.595.611-.752.009-.963-.971-1.181-1.581-1.231-3.439-1.804-7.34-1.951-10.975-.153-3.774.316-7.575,1.592-11.14.231-.645.472-1.279.816-1.873.097-.168,1.055-1.435,1.054-1.436-.7-1.132-.917.605-.935.707-.051.291-.122.581-.183.87-.164.774-.332,1.548-.504,2.32-1.456,6.532-2.933,15.588-10.192,18.158-.97.343-.059.553.507.352h0Z M42.428,19.028c.044.09.085.181.123.273.037.089.09.188.089.286l.005-.086c-.002.039-.011.076-.031.11l.054-.091c-.005.008-.01.015-.017.022l.097-.091s-.008.007-.012.01l.134-.086-.011.006.165-.076-.011.004.19-.062-.011.003.195-.041h-.011c.06-.004.121-.01.181-.015h-.011c.053.002.106.005.159.007-.007,0-.015-.002-.022-.003l.129.03c-.022-.005-.045-.011-.065-.022l.092.052c-.012-.008-.02-.016-.029-.027l.047.073c-.021-.038-.026-.081-.03-.123-.004-.049-.006-.098-.008-.147-.003-.099-.002-.199.003-.298l-.005.086c.002-.042.005-.084.009-.126.02-.048.013-.089-.019-.123-.022-.047-.061-.076-.116-.088-.068-.024-.138-.035-.209-.034-.087-.008-.174-.004-.261.013-.189.031-.384.083-.55.18l-.134.086c-.068.047-.118.107-.151.182-.013.153-.02.307-.018.461.001.065.004.131.009.196.002.027.005.055.012.082.003.013.008.025.014.036.017.032.039.073.068.097.029.025.073.046.108.062.009.004.018.008.028.011.117.036.222.048.344.05.11,0,.198-.016.301-.038.106-.022.208-.049.309-.09.048-.019.126-.055.17-.08.033-.019.11-.064.139-.089.04-.033.083-.066.115-.108.076-.099.101-.18.1-.303,0-.061-.022-.115-.044-.171-.051-.132-.107-.262-.169-.389-.016-.049-.047-.082-.093-.098-.052-.035-.111-.054-.176-.056-.083-.011-.167-.011-.25,0-.097.005-.192.021-.286.049-.169.049-.353.11-.489.225l-.097.091c-.049.05-.068.109-.058.177h0Z M78.838,22.762c-1.135-1.756-2.585-3.628-4.613-4.384-1.91-.711-4.303-.199-5.69,1.321-.547.599-1.002,1.467-.813,2.304.213.939,1.172,1.477,1.973,1.853,1.78.836,3.367,1.467,4.343,3.297,1.606,3.011,1.129,7.537-1.712,9.676-2.738,2.061-6.817,1.664-8.895-1.102-.955-1.271-1.347-2.939-.935-4.486.54-2.031,2.278-3.329,4.139-4.097.934-.385.082-.854-.57-.585-3.017,1.246-5.865,3.891-5.057,7.455.69,3.041,3.667,4.929,6.671,4.951,3.685.027,7.228-2.077,8.332-5.68,1.009-3.293.071-7.48-3.131-9.209-1.059-.571-2.562-.839-3.357-1.797-1.008-1.213.224-2.784,1.437-3.234,2.79-1.034,5.249,2.29,6.534,4.28.257.397,1.665-.07,1.346-.564h0Z M77.927,29.43c-.345,1.381.1,2.627.322,3.989.247,1.513.074,3.003-.435,4.442-.149.421,1.223.081,1.381-.142.586-.828.726-1.745,1.003-2.703.347-1.201,1.15-1.939,2.052-2.748.773-.694,1.602-1.708,2.554-2.05.606-.217,1.088-.22,1.449-.807l-1.437.227c-.109.776-.196,1.553-.245,2.335-.048.76-.254,1.891-.024,2.622.282.896,1.206.857,1.965.562,1.125-.438,1.208-1.319,1.398-2.405.301-1.722,1.352-3.313,3.016-3.974l-.988-.021c-.001.592-1.745,1.329-2.156,1.8-.534.611-.863,1.392-.914,2.202-.103,1.642,1.06,3.183,2.67,3.538,4.305.948,4.385-4.413,3.497-7.177-.13-.403-1.452-.02-1.449.388.058,7.774.14,15.548.202,23.322.004.466.007.933.011,1.399.002.292-.033.663.007.96.014.103.163.656.161.675l.158.186-.602-.125c-.309-.068-.618-.142-.925-.216-.539-.129-1.077-.264-1.613-.404-2.149-.561-4.274-1.211-6.37-1.946-.975-.342-2.116-.575-2.263-1.761-.133-1.075.009-2.346.745-3.173,1.001-1.125,2.482-2.011,3.643-2.976,2.769-2.302,5.475-4.69,8.325-6.894.605-.468-.833-.345-1.129-.116-2.988,2.311-5.82,4.822-8.73,7.23-1.193.987-2.904,1.934-3.765,3.236-.829,1.255-.997,3.764.518,4.525,2.176,1.093,4.816,1.672,7.16,2.307,1.146.31,2.299.606,3.459.854.628.134,1.257.216,1.869-.045.618-.264.742-.623.811-1.257.131-1.214-.019-2.535-.029-3.756-.019-2.312-.039-4.625-.061-6.937-.047-5.159-.095-10.318-.134-15.477l-1.449.388c.46,1.43.61,3.061.352,4.548-.05.289-.112.585-.228.857-.283.662-.959.773-1.596.557-.714-.242-1.295-.991-1.575-1.656-.513-1.221-.134-2.861.944-3.67.73-.547,1.902-.665,1.904-1.776,0-.305-.908-.053-.988-.021-1.711.68-3.104,1.963-3.701,3.737-.157.466-.22.936-.294,1.419-.083.537-.231,1.2-.432.349-.314-1.33.095-3.114.281-4.443.072-.514-1.273-.038-1.437.227.07-.114.377-.087-.057-.024-.155.023-.319.048-.47.091-.313.089-.603.229-.87.413-.898.62-1.685,1.478-2.496,2.206-.679.609-1.41,1.213-1.834,2.039-.561,1.093-.495,2.388-1.22,3.412l1.381-.142c.43-1.214.639-2.483.548-3.773-.112-1.578-.833-3.069-.435-4.659.099-.396-1.334-.184-1.437.227h0Z M95.687,17.081c-.865,1.879-1.011,3.893-.863,5.936.144,1.991.696,4.013.564,6.013-.247,3.728-2.166,7.411-4.103,10.528-.11.177,1.202.097,1.43-.253.813-1.248,2.022-2.262,3.1-3.274.559-.525,1.123-1.045,1.664-1.587.583-.584,1.308-1.842,2.259-1.342.753.396,1.243,1.23,2.046,1.628.607.301,1.262.45,1.939.405,1.207-.079,2.624-.622,3.043-1.853.095-.277-1.302-.123-1.43.253-.943,2.764-3.498-.695-4.68-1.205-1.233-.532-2.686.275-3.519,1.16-1.886,2.004-4.344,3.752-5.852,6.068l1.43-.253c1.878-3.023,3.621-6.462,4.061-10.037.233-1.895-.215-3.771-.413-5.651-.245-2.318-.237-4.634.755-6.788.106-.23-1.257-.123-1.43.253h0Z M78.411,25.639c.086.01.171.021.254.046l-.133-.042c.044.015.086.034.125.059l-.096-.066c.04.028.071.061.096.103l-.051-.088c.024.043.038.089.038.139v-.102c0,.027-.006.052-.017.077l.05-.105c-.008.016-.018.03-.029.044l.094-.103c-.011.011-.022.021-.034.031l.132-.095c-.013.009-.026.017-.039.024l.163-.082c-.021.011-.043.02-.065.027l.189-.064c-.065.022-.131.039-.198.053l.196-.039c-.044.008-.087.015-.132.018l.183-.01c-.035.002-.069.002-.104-.001l.162.017c-.034-.004-.067-.01-.1-.019l.133.042c-.034-.011-.067-.025-.097-.045l.096.066c-.034-.024-.062-.054-.083-.09l.051.088c-.028-.049-.043-.102-.044-.158v.102c0-.036.007-.07.022-.103l-.05.105c.007-.014.016-.027.026-.039l-.094.103c.009-.01.019-.019.03-.027l-.132.095c.007-.005.014-.009.022-.013l-.163.082c.005-.003.011-.005.016-.007.084-.031.16-.075.229-.13.063-.039.116-.089.16-.15.041-.047.057-.099.05-.156.009-.053-.008-.1-.051-.139l-.096-.066c-.094-.04-.192-.059-.294-.059-.194,0-.389.037-.568.113-.125.053-.253.123-.354.216-.093.085-.138.151-.183.267-.011.027-.016.054-.018.083-.003.061-.006.127.009.187.007.029.019.055.034.081.03.054.06.114.107.157.116.104.274.169.428.191.197.028.396.031.592-.005.215-.039.427-.086.63-.171.239-.1.483-.255.577-.508.022-.059.018-.129.014-.19-.003-.039-.015-.075-.033-.109-.032-.062-.07-.133-.125-.18-.063-.053-.135-.102-.213-.133-.139-.055-.276-.084-.423-.101-.084-.017-.168-.021-.253-.012-.097.001-.193.016-.287.044-.096.023-.186.058-.271.106-.078.034-.149.079-.213.136-.076.074-.188.191-.144.31.042.113.164.183.28.196h0Z"
      stroke-width="0"
      ></path>
  </svg>
  <span class="visuallyhidden">Harjot Singh</span>
</a>

<style lang="scss">
  #logo {
    width: 140px;
    transform: translateY(-0.1em) rotate(-8deg);
  }

  @media (prefers-reduced-motion: no-preference) {
    [data-animating="true"] {
      .letter {
        stroke-dasharray: 1;
        stroke-dashoffset: 1;
        animation-name: stroke;
        animation-timing-function: linear;
        animation-fill-mode: both;
      }
    }
  }

  .visuallyhidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
</style>

<script>
  function handleAnimation() {
    // Set animating status to let SVG animations run to completion
    // Instead of being cut off when the user hovers away
    const logoElem = document.getElementById("logo");
    logoElem?.addEventListener("click", () => {
      if (logoElem.dataset.animating === "true") return;

      logoElem.dataset.animating = "true";

      setTimeout(() => {
        logoElem.dataset.animating = "false";
      }, 1300);
    });
  }

  handleAnimation();

  document.addEventListener("astro:after-swap", () => handleAnimation());
</script>

<script>
  import * as Fathom from "fathom-client";

  document.addEventListener("astro:page-load", () => {
    document
      .querySelector("[data-fathom='logo']")
      ?.addEventListener("click", () => {
        Fathom.trackEvent("nav: click logo");
      });
  });
</script>
